@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header span {
        font-family: Pacifico;
    }

    html {
        scroll-behavior: smooth;
    }

    .title-font {
        font-family: Pacifico;
    }

    .main-paragraph {
        font-family: 'Ubuntu', sans-serif;
    }

    .courses h1 {
        font-family: Pacifico;
    }

    .courses p {
        font-family: 'Ubuntu';
    }

    .course_p {
        font-family: 'Ubuntu';
    }

    .testimonial {
        font-family: Pacifico;
    }

    .testimonials p {
        font-family: Ubuntu;
    }
}